button{
    background-color: cadetblue;
    border-radius: 8%;
    padding: 5px;
    color: white;
}
.container{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.gameboard-container{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 166.67px);
    grid-template-rows: repeat(3, 166.67px);
}

.cell{
    border: 1px solid black;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
}