.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameboard-container{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 166.67px);
    grid-template-rows: repeat(3, 166.67px);
}

.cell{
    border: 1px solid black;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
}